{% if S_SFPO %}
<div class="post bg1 bg-secondary bg-opacity-10 rounded-3 p-2 mb-2">
	<div class="inner sfpo">
		<div>
		<div class="content text-center"><h4 class="fs-6">{{ SFPO_MESSAGE }} <br><br>{{ lang('SFPO_MSG_REGISTER') }}</h4><br>
		{% if S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) %}<a class="btn btn-light btn-outline-primary btn-sm button icon-button" href="{{ U_REGISTER }}">{{ lang('REGISTER') }}</a>{% endif %} <a class="btn btn-light btn-outline-primary btn-sm button icon-button" href="{{ U_SFPO_LOGIN }}">{{ lang('LOGIN_LOGOUT') }}</a></div>
		</div> 
		<div class="back2top">&nbsp;</div>
	</div>
</div>
{% endif %}